.content{
  width: 100vw;
  float: left;
  height: 100vh;
}

.lessonEmbed iframe{
  width: 50vw;
  height:50vh;
  display:block;
  float:left;
}

section {
clear:both;
}

aside {
  width:30em;
  display:block;
  float:left;
  padding: 0 2em 0 2em;
}