body {
  padding: 56px 0 0 0;
  margin: 0;
}

#customBody{
  min-height:100vh;
  background-color: #f8f9fa;
}

#introWrapper {
  padding:0 16vw 0 16vw;
  background:black;
}

.content{
  width: 100vw;
  float: left;
  height: 100vh;
}
  
.content div{
  height: 33%;
}
 
#glossaryBG{
  background-color: #f8f9fa;
}

#getStarted{
  background-color: #f8f9fa;
}

/*Spacing Utilities */
.marg {
  margin:0 15vw 0 15vw;
}

.padd {
  padding:0 15vw 0 15vw;
}

/*Nav*/
#activeButton{
  background-color: #e4dcda;
}

#logo{
  height:40px;
  width:auto;
  padding: 0 0.5em 0 0;
}

/*About Us*/
#aboutUs {
  background-color: #f8f9fa;
  margin-bottom:2.5em;
}

#aboutUs h1{
  margin-top: 0;
}

#aboutUs p{
  margin-left: 25%;
  margin-right: 25%;
}



/* Lessons Page*/

#title{
  padding-top: 0.5em;
}

#description{
  padding: 0.5em 0 0.7em 0;
}

#trinket{
  padding-bottom: 1em;
  margin-bottom:2.5em;
}

/* Glossary */
.tableWrapper {
  margin: 2em 25vw 2em 25vw;
}

#pageTitle {
  padding:2em 0 0 0;
  background-color: #f8f9fa;
}



/* Footer*/
footer{
  text-align:center;
  background-color: #e4dcda;
  position: fixed;
  width:100vw;
  left:0;
  bottom:0;

}

footer p{
  margin-bottom: 0;
  padding: 0.5em 0 0.5em 0;
}

/* Quiz CSS, sidelined for now

#question{

}

.choice-wrapper{
  display:flex;
  margin-bottom:0.8rem;
  width:100%;
  background:#e4dcda;
  font-size: 2rem;
}

.choice-wrapper:hover{
  cursor:pointer;
  background:#d6cfcd;
}

.choice-prefix{
  padding:1rem 2.5rem;
  color:black;

}

.questionRight{
  background:lawngreen;
}

.questionWrong{
  background:red;
}

.choice-string{
  padding: 1rem;
  color:black;
}

*/