.navigation {
    overflow: hidden;
    background-color: red;
    height: 120px;
  }

.navigation-right {
    float: right;
    height: 120px;
  }


footer{
  margin-top: 20px;
  text-align: center;
}